{% extends "layout.html" %}

{% block title %}View pets
{% endblock %}

{% block main %}
<p>{% if error %}
{{ error }}
{% endif %}
{% if success %}
{{ success }}
{% endif %}</p>
<h1>View pets</h1>
{% for cols in pet %}
<hr>
<p>{%if cols.pic%}<img src={{cols.picpath}}{{cols.pic}} width="240px" class="center">
    {% else %}
    <div class="overlay-c">
        <img src="/static/stock/nopic.jpg"  width="240px" class="center">
        <div class="overlayt">No photo uploaded</div>
      </div>
    {% endif %}</p>
<h1>{{cols.name}}</h1>
<h2>{{ cols.pet }}</h2>
{%if cols.vet != "" and cols.vet != "None"%}
<h3>Registered at: </h3> <p>{{ cols.vet }}</p>
<h3>Contact number: </h3> <p>{{ cols.vet_num }}</p>{%endif%}
<table class="master" width>
    <tr>
     
        <th width="20%">Species: </th>
        <td>{{ cols.species }}</td>
    <tr>
        <th>Sex: </th>
        <td>{{ cols.sex }}</td>
    </tr>
        <tr>
        <th>Identifying traits</th>
        <td>{{ cols.traits }}</td>
    </tr>
    <tr>
        <th>Food</th>
        <td>{{cols.food }}</td>
    </tr>
    <tr>
        <th>Feeding Schedule</th>
        <td>{{cols.feed_freq}}</td>
    </tr>
</table>
<br>
<table class="master">
    <tr>
        <th width="20%"> Special environment conditions: </th>
        <td colspan="4">{{ cols.env }}</td>
    </tr>
    <tr>
        <th>Notes: </th>
        <td colspan="4">{{ cols.notes }}</td>
    </tr>
</table>
<br>


<h2>Medical notes</h2>

<table class="med">
    <tr>
        
    </tr>
 <tr style="border-bottom: 1px solid black">
        <th style="width:10%">Medication</th>
        <th style="width:10%">Dosage</th>
        <th style="width:10%">Start date</th>
        <th style="width:10%">End date</th>
        <th>Notes: </th>
    </tr>{%for meds in med%}
    {%if meds.medstat == true%}
    {% if meds.pet_id == cols.id %}
    <tr>
        <td>{{meds.medication}}</td>
        <td>{{meds.dosage}}</td>
        <td>{{meds.datestart}}</td>
        <td>{{meds.dateend}}</td>
        <td>{{meds.notes}}</td>
    </tr>

    {%endif%}
{%endif%}
{%endfor%}

    </tr>
</table>
<br>

{% endfor %}
<p></p>
<br>
{% endblock %}
