{% extends "layout.html" %}

{% block title %}
Welcome
{% endblock %}

{% block main %}
<table class="intro">
    <tr>
        <td style="background-color:#e8f9ff;">
            <img src="/static/stock/intro.jpg"  width="240px" class="center">
        </td>
    </tr>
    <tr>
        <td>
            <div class="intro">
                <h1>What is Little Fluffers</h1>
                <p>Little Fluffers is a place to create and maintain a health and care diary for your pets, 
                and to easily export and share essential information with anyone who may need to look
                after your pets temporarily.</p>
                <br>
                <p>If you are going on holiday, or in the event of an emergency, a temporary carer will
                have access to a simple info card to make sure your pet receives the care it needs in your absence.</p>
                </div>
        </td>
    </tr>

</table><br><br>

<table class="intro">
    <tr>
        <td style="background-color:#e8f9ff;">
            <img src="/static/stock/snek.jpg"  width="240px" class="center">
        </td>
    </tr>
    <tr>
        <td><div class="intro"><h1>Who is this service for?</h1>
        <p>Any pet owner! For <span style="font-weight:bold">exotics keepers</span> to share essential care information (because
            how many people know how to look after a Jackson's chameleon?), or to keep updated on any
            <span style="font-weight:bold">medical requirements</span> a pet may have.
            <br>
            <p>Little Fluffers can also be used as a diary to keep track of the health of your pets throughout their lives.</p></div>
        </td>
    </tr>
</table>


<h1></h1>

{% endblock %}