{% extends "layout.html" %}

{% block title %}Guest pass
{% endblock %}

{% block main %}
<table class="share">
    <tr>
        <td><h1>Share your guest pass</h1></td>
    </tr>
    <tr>
        <td><p>To share the essential care information for your pets, your guests can log in via the guest page with the code below:</p>

            <h2>{{ guest.guest_pass }}</h2>
        </td>
    </tr>
</table>
<br><br>
<table class="share">
    <tr>
        <td>
            <p>If you need to generate a new guest pass, please click the button below. 
            Note that this will invalidate your previous guest pass</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:center;">
            <form action="/newguest" method="post"><input type="hidden" name="newguest">
            <button name="edit" class="button" type="submit">Generate new pass</button></form>
           
        </td>
    </tr>
</table>


<br><br>


{% endblock %}