*
{
  color: #636363
}
h1
{
    font-size: 30px;
    text-align: center;
    
}

h2{
    font-size: 25px;
    text-align: center;
}

h3{
    font-size: 20px;
    text-align: center;
}

p
{
    font-size: 20px;
    text-align: center;
}

body
{
    font-family: Helvetica;

}

.intro
{
    margin: 10px;
}
.formt
{
    margin-left: auto;
    margin-right: auto;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#000000;
    height: 1px;
  }

table.master
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;   
    
}

table.master th, table.master td
{
    padding: 3px;
    border: 1px solid black;
}
table.intro
{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 60%;   
}
table.share
{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 60%;   
}
table.share td{
  border: 1px solid black;
}
table.account
{
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}
table.account td{
  border: 1px solid black;
  padding: 10px;
}

table.med
{
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
table.med tr:nth-child(even)
{
  background-color:#e8f9ff;
}
table.med th
{
  padding: 2px;
  border-bottom:2px solid black;
}
table.med td
{
    padding: 2px;
    
}
table.guest
{
  white-space:nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

button.button
{   
    background-color: #57cfff; /* Green */
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

img.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;
}

td.cent
{
    margin-left:auto;
    margin-right:auto;
}

label.file-upload
{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

/* Image overlay */
/* Container needed to position the overlay. Adjust the width as needed */
.overlay-c {
  position: relative;
  width: 100%;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: #8ee1fd;
}
.overlayt {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.overlay-c:hover .overlay {
  opacity: 0.4;
}

/* Thanks to https://work.smarchal.com/twbscolor/css/ */
.navbar {
  background-color: #b3f4ff;
}
.navbar .navbar-brand {
  color: #636363;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #8c8c8c;
}
.navbar .navbar-text {
  color: #636363;
}
.navbar .navbar-text a {
  color: #8c8c8c;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #8c8c8c; 
}
.navbar .navbar-nav .nav-link {
  color: #636363;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #8c8c8c;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #8c8c8c;
  background: #83e3ff;
}
.navbar .navbar-toggler {
  border-color: #83e3ff;
}
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler:focus {
  background: #83e3ff;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  color: #636363;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #636363;
}
.navbar .navbar-link {
  color: #636363;
}
.navbar .navbar-link:hover {
  color: #8c8c8c;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #636363;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #8c8c8c;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #8c8c8c;
    background: #83e3ff;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #636363;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #8c8c8c;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #8c8c8c;
    background: #83e3ff;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #636363;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #8c8c8c;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #8c8c8c;
    background: #83e3ff;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #636363;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #8c8c8c;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #8c8c8c;
    background: #83e3ff;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #636363;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #8c8c8c;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #8c8c8c;
  background: #83e3ff;
}